<h1>Welcome to Quoting Dojo</h1>

<form action="quotes" method="post">
    <input type="text" name="Name"/>
    <textarea name="Content"></textarea>
    <button type="submit">Submit</button>
</form>

<a href="/quotes">View more quotes</a>
