@{
	DateTime now = DateTime.Now;
	string date = String.Format("{0:MMM d, yyyy}",now);
	string time = String.Format("{0:hh:mm}",now);
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Time Display</title>
	</head>
	<body>
		<h1>The current time and date</h1>
		<p>@date</p>
		<p>@time</p>
	</body>
</html>
