
<div class="row p-4 justify-content-center">
	<h1>Dojo Survey Form</h1>
</div>
<div class="row justify-content-center">
	<form class="col-sm-6 bg-secondary p-4 rounded" action="/result" method="post">
		<div class="form-row p-2 justify-content-center">
			<label class="col-sm-4 col-form-label" for="name">Your Name:</label>
			<input class="col-sm-8 form-control" type="text" name="Name" id="name">
		</div>
		<div class="form-row p-2 justify-content-center">
			<label class="col-sm-4 col-form-label" for="location">Dojo Location:</label>
			<select class="col-sm-8 form-control" name="Location" id="location">
				<option selected disabled value='not_chosen'>Choose...</option>
				<option value='chicago'>Chicago</option>
				<option value='san_jose'>San Jose</option>
				<option value='los_angeles'>Los Angeles</option>
				<option value='new_york'>New York</option>
			</select>
		</div>
		<div class="form-row p-2 justify-content-center">
			<label class="col-sm-4 col-form-label" for="favorite_language">Favorite Language:</label>
			<select class="col-sm-8 form-control" name="FavoriteLanguage" id="favorite_language">
				<option selected disabled value='not_chosen'>Choose...</option>
				<option value='java'>Java</option>
				<option value='python'>Python</option>
				<option value='javascript'>JavaScript</option>
				<option value='c_sharp'>C#</option>
				<option value='other'>Other</option>
			</select>
		</div>
		<div class="form-group p-2 justify-content-center">
			<label class="form-label" for="comment">Comment (Optional):</label>
			<textarea class="form-control" name="Comment" id="comment" rows="4"></textarea>
		</div>
		<div class="form-row justify-content-end">
			<input class="col-auto p-2 mr-3 btn btn-dark" type="submit" value="Submit">
		</div>
	</form>
</div>