
<div class="row p-4 justify-content-center">
	<h1>Dojo Survey Form</h1>
</div>
<div class="row justify-content-center">
	<div class="col-sm-6 bg-secondary p-4 rounded">
		<div class="row p-2">
			<p class="col-sm-4">Your Name:</p>
			<p class="col-sm-8">@ViewBag.Survey.Name</p>
		</div>
		<div class="row p-2">
			<p class="col-sm-4">Dojo Location:</p>
			<p class="col-sm-8">@ViewBag.Survey.Location</p>
		</div>
		<div class="row p-2">
			<p class="col-sm-4">Favorite Language:</p>
			<p class="col-sm-8">@ViewBag.Survey.FavoriteLanguage</p>
		</div>
		<div class="row p-2">
			<p class="col-sm-4">Comment:</p>
			<p class="col-sm-8">@ViewBag.Survey.Comment</p>
		</div>
		<div class="form-row justify-content-end">
			<a class="col-auto p-2 mr-3 btn btn-dark" href="/">Go Back</a>
		</div>
	</div>
</div>