<div class="row justify-content-center mt-4">
	<form action="create_trail" method="post">
		<div class="row justify-content-start mt-4">
			<label class="mr-4"for="name">Trail Name</label>
			<input type="text" name="name"/>
		</div>
		<div class="row justify-content-center mt-4">
			<label class="mr-4"for="name">Trail Description</label>
			<textarea name="description"></textarea>
		</div>
		<div class="row justify-content-center mt-4">
			<label class="mr-4"for="name">Trail Length</label>
			<input type="number" name="length"/>
		</div>
		<div class="row justify-content-center mt-4">
			<label class="mr-4"for="name">Trail Elevation</label>
			<input type="number" name="elevation"/>
		</div>
		<div class="row justify-content-center mt-4">
			<label class="mr-4"for="name">Trail Longitude</label>
			<input type="number" name="longitude"/>
		</div>
		<div class="row justify-content-center mt-4">
			<label class="mr-4"for="name">Trail Latitude</label>
			<input type="number" name="latitude"/>
		</div>
		<div class="row justify-content-end mt-4">
			<button type="submit">Submit</button>
		</div>
	</form>
</div>

